attr==0.3.2
ConfigParser==7.2.0
cryptography==50.0.1
docutils==0.23
filelock==3.32.5
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.9
jnius==1.1.0
keyring==25.7.0
matplotlib==3.11.1
numpy==2.5.3
opencv_python==5.0.0.93
protobuf==7.36.1
pyOpenSSL==26.4.0
redis==8.1.0
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.16.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
